html {
  font-size: 62.5%;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

ul li {
  list-style: none;
}

.header {
  color: white;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  padding: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.header #logo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

@media (max-width: 932px) {
  html {
    font-size: 61%;
  }
  nav {
    text-align: center;
  }
  #logo {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 55%;
  }
  h2 {
    line-height: 1.2;
  }
}

.novelas {
  padding: 3rem;
  min-height: 50vh;
  width: 100%;
  background: #878bff;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  position: relative;
  text-align: center;
}

.novelas h2 {
  color: white;
  border-bottom: 1px solid white;
  display: inline-block;
  font-size: 3rem;
}

.novelas__container {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.novelas__container .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 18em;
  width: 14em;
  border-radius: 15px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  background-color: #FAFAFC;
  margin: 3rem;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.novelas__container .card .img-section {
  height: 16em;
  width: 22em;
  padding: 1em 2em;
  position: Absolute;
  top: 0;
  background-image: url("/images/todohija.jpg");
  background-size: cover;
  left: -10rem;
}

.novelas__container .card .img-section-2 {
  background-image: url("/images/guerraderosas.jpg");
}

.novelas__container .card .img-section-3 {
  background-image: url("/images/fatma.jpg");
}

.novelas__container .card-title {
  height: 2em;
  width: 100%;
  position: absolute;
  bottom: 0.3em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
  color: black;
}

.novelas__container .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.novelas__container .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.novelas__container .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.novelas__container .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.novelas__container .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.novelas__container .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.novelas__container .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.novelas__container .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.novelas__container .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.novelas__container .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.novelas__container .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.novelas__container .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media (max-width: 815px) {
  .novelas__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.musica {
  padding: 5rem;
  min-height: 100vh;
  width: 100vw;
  opacity: 0.5;
  background: repeating-linear-gradient(45deg, #444cf7, #444cf7 11px, #e5e5f7 11px, #e5e5f7 55px);
  text-align: center;
}

.musica h2 {
  display: inline-block;
  border-bottom: 1px solid white;
  font-size: 3rem;
  color: red;
}

.musica__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.musica__container .player {
  position: relative;
  width: 35rem;
  background: white;
  -webkit-box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
          box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
  margin: 2rem;
}

.musica__container .player .imgbox {
  position: relative;
  width: 100%;
  height: 35rem;
}

.musica__container .player .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 815px) {
  .musica__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home {
  position: relative;
  height: 100vh;
}

.home .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home .hero h2 {
  font-size: 6rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}

.home .hero h3 {
  font-size: 2rem;
}

.home .hero .btn {
  margin-top: 3rem;
  border: 1px solid white;
  padding: 2rem;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */