// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    background: linear-gradient(gray, transparent);

    &__nav {
        display: flex;
        flex-wrap: wrap;
        min-height: 10vh;
        padding: 2rem;
        width: 90%;
        margin: auto;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex: 1 1 40rem;
        }
    }
    
#logo {
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    flex: 2 1 40rem;
}

}



@media (max-width:932px){
    html{
        font-size: 58%;
    }
    .header__nav {
        text-align: center;

      

        #logo{
            padding: 1rem;
        }
    }
    
}
@media (min-width:412px){
    html{
        font-size: 64%;
    }
    .header__nav{
        li{

            &:not(:last-child){
                margin-right: 10px;
            }
        }
        ul a{
            font-size: 1.8rem;
           
        }
    }
}
@media (min-width:412px){
    html{
        font-size: 64%;
    }

    }

@media(max-width:375px){
    html{
        font-size: 48%;
    }
    .header__nav{
       
 
            &:not(:last-child){
                margin-right: 5px;
            }
        }
    }
@media(max-width:280px){
    html{
        font-size: 40%;
    }
    .header__nav{
       
 
            &:not(:last-child){
                margin-right: 5px;
            }
        }
    }
