.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    
    position: relative;
  
    h2 {
        font-size: 8rem;
        margin-bottom: 5rem;
        font-family: 'Lobster', cursive;
        letter-spacing: 0.5px;
        font-weight: 400;
    }
    h3{
        color: rgb(212, 208, 208);
    }
}